
<mat-toolbar color="primary">
  <span>List of Patients</span>
</mat-toolbar>

<div layout="row" class="container" layout-margin>

  <div class="mat-elevation-z8">
    <mat-form-field style="margin:20px">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dsPatients" matSort>

      <ng-container matColumnDef="patId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.patId}} </td>
      </ng-container>

      <ng-container matColumnDef="patName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.patName}} </td>
      </ng-container>

      <ng-container matColumnDef="unfinishedHigh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unifinsihed (HIGH) </th>
        <td mat-cell *matCellDef="let element"> {{element.unfinishedHigh}} </td>
      </ng-container>

      <ng-container matColumnDef="unfinishedMiddle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unifinsihed (MIDDLE) </th>
        <td mat-cell *matCellDef="let element"> {{element.unfinishedMiddle}} </td>
      </ng-container>

      <ng-container matColumnDef="unfinishedLow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unifinsihed (LOW) </th>
        <td mat-cell *matCellDef="let element"> {{element.unfinishedLow}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="getPatientReminders(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
