<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <span class="divider"></span>
      <a class="nav-item nav-link" routerLink="" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
